.menuOpt{
	float: right;
	color: white;
}

.menuOpt ul{
	width: 100%;
}

.menuOpt ul li{
	font-family: telegrafico;
	font-size: 1.5em;
	padding-left: 2%;
	margin-top:1%;
}

.menuOpt ul li:hover {
	font-family: telegrafico;
	font-size: 1.5em;
	padding-left: 2%;
	margin-top:1%;
	color: rgb(255,204,0);
}

.logo{
	margin-left: 2%;
	margin-top: 0;
}

#aboutUs{
	background-color: rgb(255,204,0);
}

.stats{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #87ceeb;
}

#location, #days, #hours, #com, #del, #pi{
	font-size: 4em;
	color: white;
}

.word{
	font-size: 2em;
	color: rgb(51,102,153);
}

.msgbox{
	border-width: 1%;
	border-color: black;
	box-shadow: 5px 5px 5px 5px grey;
	padding: 2% 2%;
	background-color: white;
}

.circleimg{
	border-radius: 50%;
}

.signatureBlock{
	font-family: cursive;
	font-size: 1.25em;
	margin-left: 5%;
	margin-top: 5%;
}

#aboutUs, #committees, #letters{
	display: none;
}

img{
	margin: 0 auto;
}

.cbox{
	background-color: rgb(255,204,0);
	width: 50%;
	margin-left: 25%;
	font-size: 2em;
	color: rgb(51,102,153);
}

.navi{
	margin-bottom: 0;
}

/*#letters{
	padding-top: 2%;
	background-color: rgb(255,204,0);
	padding-bottom: 2%;
}*/

#committees, #letters, #aboutUs, #organizers{
	padding-top: 2%;
}

.menuOpt ul li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.menuOpt ul li:after {
    content: '';
    display: block;
	margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}
.menuOpt ul li:hover:after {
    width: 100%;
    background: blue;
}

.calign{
	margin-left: 22%;
}

#people{
	display: inline;
}

.peopinfo{
	width: 75%;
}